<?xml version="1.0" encoding="UTF-8"?>
<suite name="Practice Suite">
    <test name="Test Basics 1">
        <parameter name="browser" value="firefox"/>

        <classes>
            <class name="tests.AddToCartTest"/>
            <class name="tests.AddToCompareListTest"/>
            <class name="tests.HoverMenuTest"/>
            <class name="tests.ChangeCurrencyTest"/>
            <class name="tests.AutoCompleteSearchTest"/>



        </classes>

    </test> <!-- Test -->
</suite> <!-- Suite -->